.calculator{
    width: 250px;
    height: 395px;
    border: 1px solid #DDD;
    margin: 30px auto;
    border-radius: 5px;
}
.outputbar{
    margin-bottom: 2px;
    text-align: right;
    font-weight: bold;
    font-size: 18px;
}
.line{
    margin-bottom: 5px;
    margin-left: 2px;
}
.btn{
    width: 58px;
    font-size: 24px;
}

